@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
:root {
    --pink:#F1B4B3;
--ivory:#EEEDE7;
--darkgreen: #37634E; 
--brown:#846C5C;
--lightgreen: #a3b2a3;
--navy: #494c63;
--peach: #fbcfb5;
}

html {
    scroll-behavior: smooth;
    overflow-x:hidden;
}
body {
    font-family: 'Raleway';
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),url("https://i.imgur.com/ZCBo1fD.jpg");
    background-size:200px;
    background-attachment:fixed;
  }
  hr {
      border-width:7px;
  }
  .pink {
      color:var(--pink);
  }
  .darkgreen {
      color:var(--darkgreen);
  }
  .brown {
      color:var(--brown);
  }
  .navybg {
    background-color:var(--navy);
    color: var(--ivory);
}
.ivory {
    color:var(--ivory);
}
.ivorybg {
    background-color:var(--ivory);
}
.margin-20 {
    margin:20px;
}
.margin-10 {
    margin: 10px;
}
.carousel-and-info {
        flex-wrap: wrap;
        display: flex;
        align-content: center;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap-reverse;
    
}
.produkt-container {
    border-radius:5px;
}
.produkter-header {
    padding:20px;
    text-decoration:underline;
    text-decoration-style: dotted;
    text-decoration-color:var(--darkgreen);
}
.dots {
    text-decoration:underline;
    text-decoration-style: dotted;
    text-decoration-color:var(--darkgreen);
    color: var(--darkgreen);
}
.box-shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.box {

margin:10px;
padding:20px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
border-radius: 5px;
}
.infobox {
    background-color:var(--ivory);
    padding:20px;
    color: var(--darkgreen);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 5px;
    margin-top: 20px;
    }
.btn-bestil:hover{
    animation: pulse;
    animation-duration:0.5s;
    animation-iteration-count:5;
}
.btn-sprout {
    
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: box-shadow 0.15s ease,transform 0.15s ease;
    will-change: box-shadow,transform;
    background: var(--navy);
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #000;
    height: 48px;
    padding: 12px 32px 12px 32px;
    font-size: 18px;
    border-radius: 6px;
    color: var(--ivory);
    transition: box-shadow 0.15s ease,transform 0.15s ease;
} 
    .btn-sprout:hover {
        box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #000000;
        transform: translateY(-2px);
        color: var(--ivory);
    }
    .btn-sprout:active{
        box-shadow: inset 0px 3px 7px #000000;
        transform: translateY(2px);
    }
    

.margin-top {
    margin-top:20px;
}
.right-align {
    right: 0;
    position: absolute;
}
.carousel-inner {
    background-color: var(--ivory);
    position: relative;
    margin-left: 10px;
    overflow: hidden;
}
.support {
    position:fixed;
    display: inline-block;
    bottom:10px;
    right:10px;
    border-radius:50%;
    background-color: var(--navy);
    color:var(--ivory);
    font-size:50px;
    text-align:center;
    height:78px;
    width:78px;
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.3);
    z-index:200;
}

  

  .support .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size:16px;
        top: 5px;
        right: 105%;
      
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .support:hover .tooltiptext {
    visibility: visible;
  }
  .support:hover {
    animation: pulse;
    animation-duration:0.5s;
    animation-iteration-count:2;
  }
.anchor {
    padding-top: 80px; 
    margin-top: -78px;
}
.padding-0{
padding:0;
}
.navbar-nature .navbar-brand {
    color:#37634E;
    font-size:1.7rem;
    font-weight:bolder;
    padding: 15px;
    line-height: 1.7;
    width:10rem;
    height: auto !important;
}
.navbar-nature {
box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.navbar-nature .navbar-nav .nav-link {
    color: #37634e96;
    border-style: double;
    border-top-width: 3px;
    border-right-width: 0px;
    border-bottom-width: 3px;
    border-left-width: 0px;
    border-color:#EEEDE7;
    padding-right:20px;
    padding-left:20px;
}
.navbar-nature .navbar-nav .active>.nav-link, .navbar-nature .navbar-nav .nav-link:hover {
    color: #37634E;
    border-color:#37634E;
  
}
.navbar-toggler {
    position:absolute;
    width:56px;
    right:20px;
}
#navbarSupportedContent {
    position: relative;
}
.navbar-collapse.collapsing, .navbar-collapse.show {
   
}
.navbar-expand-md .navbar-collapse {
    justify-content:flex-end;
}
.navbar-toggler {
    background: none;
    border: none;
    position:absolute;
    top: 20px;
  }
  
  .navbar-toggler:active,
  .navbar-toggler:focus {
    outline: 0;
  }
  
  .navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin: 4px 0 4px 0;
    transition: all 0.2s;
  }
  
  
  .navbar-nature .navbar-toggler .icon-bar {
    background: var(--darkgreen);
  }
.navbar-toggler .icon-bar:nth-of-type(1) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  
  .navbar-toggler .icon-bar:nth-of-type(2) {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  
  .navbar-toggler .icon-bar:nth-of-type(3) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
  
  .navbar-toggler.collapsed .icon-bar:nth-of-type(1) {
    transform: rotate(0);
  }
  
  .navbar-toggler.collapsed .icon-bar:nth-of-type(2) {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  
  .navbar-toggler.collapsed .icon-bar:nth-of-type(3) {
    transform: rotate(0);
  }
  
.logo {
    min-height:78px;
}

.bold { 
    font-weight:bold;
    }

    .italics {
    font-style: italic;
    }
  .produkt-img-cont{
      aspect-ratio:1;
  }
  .produkt-img {
      background: url(https://i.imgur.com/Pm7Efl4.png?1);
      background-size:cover;
      background-position: center;
      width:100%;
   aspect-ratio:0.5;
  }
  .desc {
      margin-bottom: 50px;
  }
.slideimg {
    width:100%;
    aspect-ratio:0.75;
    object-fit:cover;
    object-position: center;
}
.carousel-control-next {
    filter: invert(1);
}
.carousel-control-prev {
 
    filter: invert(1);
}
.slidebutton {
    position: absolute;
    bottom: 1px;
    right: 30px;
}
#nyhedsbrev {
    background-color:rgba(0, 0, 0, 0.24);
    border-color: var(--ivory);
    border-radius:0%;
    width:100%;
    color: var(--ivory);
    padding:5px;
}
table {
    white-space: nowrap;
}
.icon-subtitle {
    
    font-size: clamp(1rem, 2vw, 7rem);
}
.center-text {
    text-align:center;
}
#signuppage {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), var(--navy);
    height:100%;
    width: 100%;
    padding-top:5%;
    position:absolute;
}

#memberid {
    background: linear-gradient(70deg, rgba(199,159,135,1) 0%, rgba(251,207,181,1) 17%, rgba(255,251,240,1) 24%, rgba(251,207,181,1) 56%, rgba(251,207,181,1) 69%, rgba(203,150,119,1) 100%);
margin:auto;
aspect-ratio: 85 / 55;
border-radius: 10px;
border-width: 1%;
border-style:dashed;
border-color:#EEEDE7;
box-sizing:border-box;
width:95vw;
max-width:700px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.memberform
{
    background:rgba(0, 0, 0, 0.1);
    padding:3px;
    width: fit-content;
    border-style:ridge;
    border-color:rgba(0, 0, 0, 0.3);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#submemberhead {
    font-size: min(5vw, 36.84px);
}
.memberlabel {
    font-size: min(2.5vw, 18.42px); 
    margin-left:20px;
}
input[type="text"], input[type="email"], input[type="date"], input [type="password"] {
border-radius:10px;
padding:3px;
}

.inputnavn {
margin-bottom:20px;
    width:40%;
}
#membercontent {
margin:0;
padding:0;
}

#memberhead {
    margin:4%;
}
.title {
    font-family: 'Abril Fatface', cursive;
}
.lessfancytitle {
    font-family: 'Playfair Display', serif;
}


.frontpg {
    border-radius:7px;
    box-shadow:2px, 2px, 3px, rgba(0, 0, 0, 0.5);
}
#frontpagetitletext {
    text-decoration:underline;
text-decoration-style: dotted;
font-size: clamp(2.5rem,12vw, 5rem);
padding:2rem;
}
#pfpcontainer {
    aspect-ratio: 1;
    box-sizing:border-box;
    width:100%;
    padding:0px;
border: aliceblue 2px dashed;
    background-color:var(--ivory);
}
.pfp {
    width:100%;
    aspect-ratio:1;
    object-fit:cover;
}
.bigicon {
    font-size:8rem;
    opacity:0.3;
    color: var(--navy);
}
.frontpagehero {
    height:110vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url("http://i.imgur.com/FNHLqNph.gif");
  background-size:cover;
    text-align:center;
    background-attachment: fixed;
}´



      .chartinfo {
          height:6rem;
          --color: blue;
      }
      input[type="file"] {
        display: none;
    }

    .profilecompl {
        color: var(--navy);
        background-color: var(--ivory);
        padding:20px;
        border-radius: 5px;
    }
    .brand-logo {
        width:4em;
        border-radius:0.5em;
        margin:7px;
    }

 .border1 {
     margin-top:50px;
     padding:10px;
     border-width:10px;
     border-style:double;
     border-color:aliceblue;
    background-color: #49393b50;
 }
 .border2 {
     border-width: 5px;
     border-color:aliceblue;
    
     padding:7px;
     border-width:5px;
     border-style:double;
     border-color:aliceblue;
 }
 .kontaktcontainer {
     width: fit-content;
     margin:20px;
     padding:20px 100px 20px 30px;
     background-color: var(--navy);
     color:var(--ivory);
     display:inline-block;
 }

.map {
    display:inline-block;
}